.home {
  width: 100%;
  height: 100%;
}
.addBtn {
  position: sticky;
  border: none;
  outline: none;
  background-color: transparent;
  bottom: 0;
}

.addBtn svg {
  margin: 1rem;
  font-size: 3.5rem;
}
.addBtn:hover {
  transition: ease-in 500ms;
  transform: rotate(180deg);
}
