@import url('https://webfontworld.github.io/score/SCoreDream.css');
* {
  box-sizing: border-box;
  font-family: 'SCoreDream';
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
